<!DOCTYPE html>

#parse ($init)

<html class="$root_css_class" dir="#language ("lang.dir")" lang="$w3c_language_id">

<head>
	<title>$the_title - $company_name</title>

	<meta content="initial-scale=1.0, width=device-width" name="viewport" />

	$theme.include($top_head_include)
</head>

<body class="$css_class">

<a href="#main-content" id="skip-to-content">#language ("skip-to-content")</a>

$theme.include($body_top_include)

#if ($is_signed_in)
	#dockbar()
#end

<div class="container-fluid" id="wrapper">
	<header id="banner" role="banner">
		<div id="heading">
			<h1 class="site-title" style="margin: 0px 0 !important;">
				<a class="$logo_css_class" href="$site_default_url" title="#language_format ("go-to-x", [$site_name])">
					<img alt="KIOSK" src="/kiosk-theme/images/kiosk/banner.png" />
				</a>
				#if (!$is_signed_in)
					<a class="a-login" data-redirect="$is_login_redirect_required" href="$sign_in_url" id="sign-in" rel="nofollow">
						<span style="margin-left : 0px!important;" class="span-login">$sign_in_text</span>
					</a>
				#end
		</div>
	</header>
	<div id="content">
		<nav id="breadcrumbs">#breadcrumbs()</nav>
		$theme.wrapPortlet("portlet.vm", $content_include)
		<div class="backHead"> <a class="onHome" href="$site_default_url"></a> <button class="onBack" type="button" onclick="history.go(-1); return false;">Quay lại</button> </div>
	</div>
</div>

$theme.include($body_bottom_include)

$theme.include($bottom_include)

</body>

</html>